@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --lg-font: 'Open Sans', sans-serif;
    --sm-font: 'Open Sans', sans-serif;
    --blue: #327596;
    --purple: #697BCE;
    --gray: #5d5d5d;
    --dark-gray: #282D33;
}


body {
    font-family: var(--lg-font);
    background-color: #FBFCFE;
}

/* Common*/
.blue-gray-line span {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.blue-gray-line span em {
    width: 60px;
    height: 2px;
    background-color: #327497;
    display: block;
    margin: auto;
}

/* Navbar  */
.mega-menu {
    width: 500px;
    padding: 10px;
}

.navbar-brand {
    width: 200px;
}

.nav-link {
    font-weight: 600;
}

.nav-link:hover {
    color: var(--blue) !important;
}

.nav-item.dropdown.show a {
    color: var(--blue) !important;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: var(--blue) !important;
}

.navbar ul li a {
    font-size: 13px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dropdown-menu {
    border-color: var(--blue);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--blue);
    color: white;
}

.dropdown-menu p {
    font-size: 14px;
    color: var(--blue) !important;
}


hr.divider {
    margin: 0px;
    border-width: 1px;
    color: var(--blue);
}

.superNav {
    font-size: 13px;
}

.superNav a {
    color: #6c757d !important;
    text-decoration: none;
    font-weight: 700;
}

.superNav a:hover {
    color: #0060df !important;
    text-decoration: none;
    font-weight: 700;
}

#navbarBorder {
    border-color: #327497 !important;
    border-width: 2px !important;
}


@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }

    .mega-menu {
        width: auto;
        padding: 10px;
    }
}



/* Carousel */

.carousel {
    font-family: var(--sm-font);
}

.carousel-item img {
    height: 45vh;
    object-fit: cover;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: var(--lg-font);
}

.overlay h1 {
    font-weight: bold;
    font-size: 2.7rem;
    line-height: 1;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    color: white;
    text-align: left;
}

.overlay h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    color: white;
    text-align: left;
}

.form-select {
    background-color: #ffff;
    border: none;
    height: 50px;
}

.input-group-text {
    background-color: white;
}

.input-icon-color {
    color: #327596;
}


@media(max-width: 992px) {
    .mega-menu {
        width: 100%;
    }
}


@media(max-width: 768px) {
    .overlay {
        top: 4rem;
        left: 0;
    }

    .input-group .btn {
        height: 50px;
    }

    .carousel-item img {
        height: 40vh;
        object-fit: cover;
    }
}

@media(max-width: 576px) {
    .overlay {
        top: 5rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }
}

@media(max-width: 430px) {
    .overlay {
        top: 4rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 60vh;
        object-fit: cover;
    }
}


@media(max-width: 375px) {
    .overlay {
        top: 2.5rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }
}

/* Slogan Area */
.slogan h3,
.super-discount h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--gray);
}


/*Owl Carousel*/
.card-img-top {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}


/* Discount Yacht Section and Yacht Card*/

.yacht-card {
    margin: auto;
    box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.75);
    background: #fff;
    border-radius: 12px;
    position: relative;
}

.yacht-card__name {
    font-weight: 700;
    font-size: 16px;
    color: var(--blue);
    margin: 6px;
}

.yacht-card-inf {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 14px;
}

.yacht-card-inf__item {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 6px;
}

.yacht-card-btn {
    background-color: var(--blue);
    color: white;
}

.yacht-card-btn:hover {
    background-color: white;
    color: var(--blue);
    border-color: var(--blue);
}

.yacht-card hr {
    margin: 0;
}

.yacht-card-inf__txt {
    font-weight: 500;
    margin-top: 0px;
    font-size: 12px;
}

.yacht-card-price {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 12px;
}

.yacht-price-txt {
    font-size: 13px;
}

.tour-detail-container,
.blog-detail-container {
    padding: 10px;
}

.yacht-name,
.tour-name {
    margin: 0;
    padding: 0;

}

.tour-detail-container hr,
.blog-detail-container hr {
    padding: 0;
    margin-top: 6px;
}

.yacht-icon,
.yacht-info {
    color: gray;
    font-size: 0.75rem;
}

.new-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: green;
    text-align: end;
}

.old-price {
    font-size: 0.75rem;
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
    text-align: right;
}

/*Section Private Info Home*/
.home-private-info {
    background-color: #d9dee1;
    color: #373D3F;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Last Blog Article */
.last-blog-article {
    background-color: #F3F4FA;
}

.blog-detail-container p {
    font-size: 12px;
}

/*Header and Footer Social Button*/

ul.social-network {
    list-style: none;
    display: inline;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 3px;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 2px;
}

.social-circle li i {
    text-align: center;
    margin: 5px;
}

ul.social-network a {
    background-color: #D3D3D3;
}

#privacy,
#privacy a,
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i,
.social-network-footer a.icoRss:hover i,
.social-network-footer a.icoFacebook:hover i,
.social-network-footer a.icoTwitter:hover i,
.social-network-footer a.icoGoogle:hover i,
.social-network-footer a.icoVimeo:hover i,
.social-network-footer a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.icoPinterest:hover,
.social-network-footer a.icoPinterest:hover {
    background-color: #C92228;
}

.social-network a.icoInstagram:hover,
.social-network-footer a.icoInstagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-network a.icoFacebook:hover,
.social-network-footer a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover,
.social-network-footer a.icoTwitter:hover {
    background-color: #3cf;
}

.social-network a.icoYoutube:hover,
.social-network-footer a.icoYoutube:hover {
    background-color: #BD3518;
}

.social-network a.icoLinkedin:hover,
.social-network-footer a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-circle li a:hover i,
.triggeredHover,
.social-circle-footer li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.social-circle i,
.social-circle-footer i {
    color: #fff;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}

ul.social-network-footer {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

.social-circle-footer li {
    display: inline;
    padding-left: 10px;
}

.social-circle-footer li a {
    display: inline-block;
    position: relative;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    margin: 3px auto 1px;
}

.social-circle-footer li i {
    line-height: 35px;
    text-align: center;
    margin: 0;
}

ul.social-network-footer a {
    background-color: #399;
}

/*Footer*/
footer {
    background-color: var(--dark-gray);
}

.footer .btn{
    color: var(--dark-gray);
}

.footer-title {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 5px 0 5px 10px;
    text-transform: uppercase;
    color: #BDBDBD;
    letter-spacing: 1px;
    border-left: 3px solid #327497;
}

.footer a {
    color: #BDBDBD;
    text-decoration: none;
}

#copyright {
    color:#BABABA;
    font-size:11px;
}

#copyright a {
    color: white;
}

#custom-search-input-footer {
    border-radius:2px;
    background-color:#fff;
    margin-bottom:15px;
    padding:3px;
    border: 1px solid #d4d4d4;
}
#custom-search-input-footer input {
    border:0;
    box-shadow:none;
    width: 100%;
    height: 34px;
}
#custom-search-input-footer button {
    background:none;
    box-shadow:none;
    border:0;
    color:#666;
    border-left:solid 1px #ccc;
    margin:2px 0 0;
    padding:0 8px 0 10px;
    width: 48px;
    height: 24px;
}
#custom-search-input-footer button:hover {
    border:0;
    box-shadow:none;
    border-left:solid 1px #ccc;
}
#custom-search-input-footer .glyphicon-search {
    font-size:16px;
    color:grey;
}