@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Quicksand:wght@300;400;500;700&display=swap');

:root {
    --lg-font: 'Mulish', serif;
    --sm-font: 'Quicksand', sans-serif;
    --blue: #327596;
    --purple: #697BCE;
    --gray: #5d5d5d;
    --dark-gray: #282D33;
}


body {
    font-family: var(--lg-font);
    background-color: #FBFCFE;
}


/* Common*/

.blue-gray-line span {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.blue-gray-line span em {
    width: 60px;
    height: 2px;
    background-color: #327497;
    display: block;
    margin: auto;
}


/* Navbar  */
.mega-menu {
    width: 500px;
    padding: 10px;
}

.navbar-brand {
    width: 200px;
}

.nav-link {
    font-weight: 600;
}

.nav-link:hover {
    color: var(--blue) !important;
}

.nav-item.dropdown.show a {
    color: var(--blue) !important;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: var(--blue) !important;
}

.navbar ul li a {
    font-size: 13px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dropdown-menu {
    border-color: var(--blue);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--blue);
    color: white;
}

.dropdown-menu p {
    font-size: 14px;
    color: var(--blue) !important;
}


hr.divider {
    margin: 0px;
    border-width: 1px;
    color: var(--blue);
}

.superNav {
    font-size: 13px;
}

.superNav a {
    color: #6c757d !important;
    text-decoration: none;
    font-weight: 700;
}

.superNav a:hover {
    color: #0060df !important;
    text-decoration: none;
    font-weight: 700;
}

#navbarBorder {
    border-color: #327497 !important;
    border-width: 2px !important;
}


@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }

    .mega-menu {
        width: auto;
        padding: 10px;
    }
}



/* Carousel */

.carousel {
    font-family: var(--sm-font);
}

.carousel-item img {
    height: 40vh;
    object-fit: cover;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: var(--lg-font);
}

.overlay h1 {
    font-weight: bold;
    font-size: 2.7rem;
    line-height: 1;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    color: white;
    text-align: left;
}

.overlay h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    color: white;
    text-align: left;
}

.form-select {
    background-color: #ffff;
    border: none;
    height: 50px;
}

.input-group-text {
    background-color: white;
}

.input-icon-color {
    color: #327596;
}


@media(max-width: 992px) {
    .mega-menu {
        width: 100%;
    }
}


@media(max-width: 768px) {
    .overlay {
        top: 10rem;
        left: 0;
    }

    .input-group .btn {
        height: 50px;
    }

    .carousel-item img {
        height: 40vh;
        object-fit: cover;
    }
}

@media(max-width: 576px) {
    .overlay {
        top: 5rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }
}

@media(max-width: 430px) {
    .overlay {
        top: 6rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 60vh;
        object-fit: cover;
    }
}


@media(max-width: 375px) {
    .overlay {
        top: 7rem;
        left: 0;
    }

    .input-group .btn {
        width: 100%;
        height: 50px;
    }

    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }
}

/* Slogan Area */
.slogan h3,
.super-discount h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--gray);
}


/*Owl Carousel*/
.card-img-top {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}


/* Discount Yacht Section and Yacht Card*/

.yacht-card {
    margin: auto;
    box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.75);
    background: #fff;
    border-radius: 12px;
    position: relative;
}

.yacht-card__name {
    font-weight: 700;
    font-size: 16px;
    color: var(--blue);
    margin: 6px;
}

.yacht-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.yacht-card-inf__item {
    margin-top: 6px;
    margin-bottom: 6px;
    min-width: 90px;
}

.yacht-card-btn {
    background-color: var(--blue);
    color: white;
}

.yacht-card-btn:hover {
    background-color: white;
    color: var(--blue);
    border-color: var(--blue);
}

.yacht-card hr {
    margin: 0;
}

.yacht-card-inf__txt {
    font-weight: 500;
    margin-top: 0px;
    font-size: 12px;
}

.yacht-card-price {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 12px;
}

.yacht-price-txt {
    font-size: 13px;
}

.tour-detail-container,
.blog-detail-container {
    padding: 10px;
}

.yacht-name,
.tour-name {
    margin: 0;
    padding: 0;

}

.tour-detail-container hr,
.blog-detail-container hr {
    padding: 0;
    margin-top: 6px;
}

.yacht-icon,
.yacht-info {
    color: gray;
    font-size: 0.75rem;
}

.new-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: green;
    text-align: end;
}

.old-price {
    font-size: 0.75rem;
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
    text-align: right;
}

/*Section Private Info Home*/
.home-private-info {
    background-color: #d9dee1;
    color: #373D3F;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Last Blog Article */
.last-blog-article {
    background-color: #F3F4FA;
}

.blog-detail-container p {
    font-size: 12px;
}

/*Footer*/
footer {
    background-color: var(--dark-gray);
}

.footer-title {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 5px 0 5px 10px;
    text-transform: uppercase;
    color: #BDBDBD;
    letter-spacing: 1px;
    border-left: 3px solid #327497;
}

.footer a {
    color: #BDBDBD;
    text-decoration: none;
}
